name: Deploy VM on GCP

on:
  push:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.6

      - name: Authenticate to GCP
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}

      - name: Initialize Terraform
        run: terraform init

      - name: Terraform Apply
        env:                      # Pass environment variable
          TF_VAR_gcp_credentials: ${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}
        run: terraform apply -auto-approve



